/*Navigation bar property*/

body{
    margin: 0;
}

/*content*/


.content{
    padding: 80px 40px 50px;
    height: 100%;
    width: auto;
    background: url("../../pic/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    font-family: 'Lobster', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Play', sans-serif;
}

.description, .names, .benefit, .translation, .summary{
    display: none;
    background: url('../pictures/wallpaper3.jpg');
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 5% 40px 5%;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: justify;
    line-height: 40px;
    font-size: 28px;
}
 
#myModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.credit{
    clear: both;
}

.credit a{
    
    font-size: 10px;
    text-align: center;
}

.footer 
{
    clear: both;
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
