
body{
    margin: 0%;
}

#content
{
    padding: 50px 0px 50px;
    height: 100%;
    width: auto;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(110, 83, 67);
}

.sun{
    float: left;
    height: 350px;
    width: auto;
    position: relative;
    font-family: 'Patrick Hand', cursive;
    /*-webkit-animation-direction: alternate;*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-name: rotate1; /* Safari 4.0 - 8.0 */
    /*animation-direction: alternate;*/
    animation-name: rotate1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 800px){
  .smoothScroll{
    display: none;
  }
}

@media only screen and (min-width: 768px){

  #content{
    background: url("../pic/back2.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @keyframes rotate1 {
    0%   {
        top: 90px;
        left: 0px;
        -ms-transform: rotate(-60deg); /* IE 9 */
        -webkit-transform: rotate(-60deg); /* Safari */
        transform: rotate(-60deg); /* Standard syntax */
    }
    50%  {
        top: 0px;
        left: 90px;
        -ms-transform: rotate(60deg); /* IE 9 */
        -webkit-transform: rotate(60deg); /* Safari */
        transform: rotate(60deg); /* Standard syntax */
    }
    100% {
        top: 90px;
        left: 0px;
        -ms-transform: rotate(-60deg); /* IE 9 */
        -webkit-transform: rotate(-60deg); /* Safari */
        transform: rotate(-60deg); /* Standard syntax */
    }
  }


  @keyframes moving1 {
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:300px;}
    100% {left:0px; top:0px;}
  }

  @keyframes moving2 {
    0%   {left:0px; top:60px;}
    40%  {left:0px; top:300px;}
    90%  {left:0px; top:0px;}
    100% {left:0px; top:60px;}
  }

  @keyframes moving3 {
    0%   {left:0px; top:120px;}
    30%  {left:0px; top:300px;}
    80%  {left:0px; top:0px;}
    100% {left:0px; top:120px;}
  }

  @keyframes moving4 {
    0%   {left:0px; top:180px;}
    20%  {left:0px; top:300px;}
    70%  {left:0px; top:0px;}
    100%  {left:0px; top:180px;}
  }

  @keyframes moving5 {
    0%   {left:0px; top:240px;}
    10%  {left:0px; top:300px;}
    60%  {left:0px; top:0px;}
    100% {left:0px; top:240px;}
  }

}

.floating{
  width: auto;
  height: 650px;
  padding-left: 40px;
  padding-right: 40px;
}

.cloud {
    float: left;
    margin: 10px;
    height: 200px;
    width: auto;
    position: relative;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: 'Patrick Hand', cursive;
    /*-webkit-animation-direction: alternate;*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    /*animation-direction: alternate;*/
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #cloud1{
    -webkit-animation-name: moving1; /* Safari 4.0 - 8.0 */
    animation-name: moving1;
  }

  #cloud2{
    -webkit-animation-name: moving2; /* Safari 4.0 - 8.0 */
    animation-name: moving2;
  }

  #cloud3{
    -webkit-animation-name: moving3; /* Safari 4.0 - 8.0 */
    animation-name: moving3;
  }

  #cloud4{
    -webkit-animation-name: moving4; /* Safari 4.0 - 8.0 */
    animation-name: moving4;
  }

  #cloud5{
    -webkit-animation-name: moving5; /* Safari 4.0 - 8.0 */
    animation-name: moving5;
  }


  .cloud:hover img{
    transition: .5s ease;
    top: -10px;
    -webkit-filter: blur(4px);
    filter: blur(4px);

    -webkit-transform: rotateX(20deg);
       -moz-transform: rotateX(20deg);
        -ms-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }

  .cloud:hover .centered{
    opacity: 1;
  }


.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  }


  #search{
    padding-top: 200px;
    height: 450px;
    clear: both;
    left: 40%;
    width: 400px;
    max-width: 100%;
    margin: 3rem auto;
    text-align: center;
   }

   .styled-select{
    position: relative;
    width:100%;
    height: 34px;
    overflow: hidden;
    background: #fff;
    border: 2px solid gold;
   }
   .styled-select::after {
     z-index: 1;
     content: '';
     position: absolute;
     top: 50%;
     right: 10px;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     border-top: 7px solid gold;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
   }

   .styled-select select{
      position: relative;
      z-index: 2;
      background: transparent;
      width: calc(100% + 20px);
      height: 34px;
      padding: 5px 5px 5px 10px;
      font-size: 14px;
      line-height: 1;
      color: #777;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
   }

   /* Reset */
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
  display: inline-block;
  margin: 15px;
  position: relative;
  padding: 10px 28px;
  top: 0;
  font-size: 18px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}

/*Modal CSS*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background: url('pictures/wallpaper3.jpg');
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px 5% 40px 5%;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  text-align: center;
  line-height: 40px;
  font-size: 28px;
}

.inside p{
  text-align: justify;
}

.inside{
  border: #2d353f solid 2px;
  padding: 5%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*FOOTER*/
.footer
{
    clear: both;
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
