body
{
    background-color: rgb(247, 247, 247);
}

/* start navbar css */


#logo
{
    width: 350px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.background
{
    height: 100%;
    width: 100%;
   
}

.nav-bar
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
}

.nav-bar ul
{
    list-style-type: none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    
}

.nav-bar li
{
    float: left;
}

.nav-bar li a
{
    height: 25px;
    width: 100px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}

.nav-bar li a:hover
{
    /* background-color: grey; */
    color: #ef3d59;
    border-bottom: 3px solid black;
}

.dropsurah, .droplearn, .dropgames, .dropstory
{
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: #e4e4e4;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


#surah:hover .dropsurah, #learn:hover .droplearn, #games:hover .dropgames, #story:hover .dropstory
{
    border-bottom: none;
    display: block;
}

/* end navbar css */

#box3
{
    position: relative;
}

.about
{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

.overlay-about
{
    top: 0%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.box1, .box2, .box4, .box5
{
    float: left;
    position: relative;
    width: 25%;
    height: auto;
}

.box1:hover .overlay-kids, .box2:hover .overlay-scene, .box4:hover .overlay-surah, .box5:hover .overlay-games{
    width: 100%;
  }

#text {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap; 
    color: white;
    font-size: 1.5vw;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.kids
{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}


.overlay-kids {
    top: 0%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .6s ease;
  }


  .scene
  {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
  }

  .overlay-scene{
    top: 0%;
    width: 0;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    height: 100%;
    transition: .3s ease;
  }


  .surah
  {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
  }
  
  
  .overlay-surah {
      top: 0%;
      position: absolute;
      background-color: black;
      opacity: 0.5;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .6s ease;
    }

.games
{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}


.overlay-games {
    top: 0%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .6s ease;
  }


.divider
{
    height: 150px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg")
}
.footer 
{
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
  