body
{
    margin: 0%;
    background: #44a6d7;
}

.background
{
    background: url(pic/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* start navbar css */

#logo
{
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.nav-bar
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-family: 'Krona One', sans-serif; */
    margin-top: 1%;
    height: 70px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    
}

.nav-bar ul
{
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    
}

.nav-bar li
{
    float: left;
}

.nav-bar li a
{
    height: 25px;
    width: 100px;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;

    position: relative;
	font-weight: 600;
	text-decoration: none;
	transition: color .3s ease;
    
}

.nav-bar li a::after
{
    --scale: 0;
    content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 3px;
	background: rgb(49, 96, 161);
	transform: scaleX(var(--scale));
	transform-origin: var(--x) 50%;
	transition: transform .3s cubic-bezier(.535, .05, .355, 1);
}


.nav-bar li a:hover
{
    /* background-color: grey; */
    color: #ef3d59;
    
}

.nav-bar li a:hover::after
{
    --scale: 1;
}

.dropsurah, .droplearn, .dropgames, .dropstory
{
    display: none;
    position: absolute;
    color: black;
    /* background-color: #f9f9f9; */
    background-color: #f7b400;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-shadow: none;
}

#surah:hover .dropsurah, #learn:hover .droplearn, #games:hover .dropgames, #story:hover .dropstory
{
    border-bottom: none;
    display: block;
    text-shadow: none;
    color: black;
}

/* end navbar css */

/* start content */

#content
{
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#content h1 {font-family: 'Fredericka the Great', cursive;color: rgb(110, 83, 67);}

#pic{width: 30%;float: left;}

#pic img
{
    width: 25vw;
    margin-left: 25%;
    margin-top: 10%;
}

#welcome::after
{
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

#about
{
    float: left;
    width: 40%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.096);
    font-family: 'Raleway', sans-serif;
}


#why-us
{
    background-color: rgba(255, 255, 255, 0.199);
    border: #ef3d59;
    font-size: 110%;
    padding:1%;
    margin-left: 0%;
    margin-right: 0%;
    color: rgb(110, 83, 67);
    font-family: 'Open sans', sans-serif;

}

#why-us h1
{
    font-family: 'Fredericka the Great', cursive;
}

#why-us img
{
    width: 6%;
    height: auto;
}



/* start style for activity */

.box1, .box2, .box4, .box5
{
    float: left;
    position: relative;
    width: 25%;
    height: auto;
}

.box1:hover .overlay-kids, .box2:hover .overlay-scene, .box4:hover .overlay-surah, .box5:hover .overlay-games{
    width: 100%;
  }

#text {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap; 
    color: white;
    font-size: 1.3vw;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.kids
{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}


.overlay-kids {
    top: 0%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .6s ease;
  }


  .scene
  {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
  }

  .overlay-scene{
    top: 0%;
    width: 0;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    height: 100%;
    transition: .3s ease;
  }


  .surah
  {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
  }
  
  
  .overlay-surah {
      top: 0%;
      position: absolute;
      background-color: black;
      opacity: 0.5;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .6s ease;
    }

.games
{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}


.overlay-games {
    top: 0%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .6s ease;
  }

  /* end style for activity */








/* end content */

/* start footer */
.footer 
{
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
/* end footer */