/* start navbar css */

body{background-color:#8FB5D8;}

#logo
{
    width: 250px;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: auto;
    
}


.nav-bar
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Krona One', sans-serif; */
    margin-top: 1%;
    background-color: #556270;
    height: 70px;
    color: white;
    border-bottom: 5px solid #2d353f;
    
}

.nav-bar ul
{
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    
}

.nav-bar li
{
    float: left;
}

.nav-bar li a
{
    height: 25px;
    width: 100px;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}

.nav-bar li a:hover
{
    /* background-color: grey; */
    color: #ef3d59;
    border-bottom: 3px solid black;
}

.dropsurah, .droplearn, .dropgames, .dropstory
{
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: #e4e4e4;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


#surah:hover .dropsurah, #learn:hover .droplearn, #games:hover .dropgames, #story:hover .dropstory
{
    border-bottom: none;
    display: block;
}

/* end navbar css */


#con 
{
    font-family: 'Lobster', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Play', sans-serif;
}