 body{
   margin: 0%;
   width: 100%;
  font-family: 'Raleway';
  text-align: center;
  background-image: url("../pic/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background{

}

.Doa
{
  font-size: 22px;
  text-align: -webkit-center;
}

.Doa .Dhuha
{
  width: 80%;
  text-align: center;
}

#video{
  float: left;
}

 #media{
  float: right;
}

.Doa .ParentsDoa
{
  width: 80%;
  text-align: center;
}

.ParentsDoa p{
  padding-top: 10px;
}

.Doa .ClothDoa
{

  width: 80%;
  text-align: center;

}

.Doa .BeforeStudy
{

  width: 80%;
  text-align: center;
}

.Doa h3
{
  font-family:'Fredericka the Great';
}

.footer
{
    clear: both;
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
