body{
  font-family: 'Merriweather', Lato;
  text-align: justify;
  background-image: url("http://sfwallpaper.com/images/pastel-purple-wallpaper-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  margin: 0 auto;
  background: #42acd6;
}

/* start navbar css */

#logo
{
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.nav-bar
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-family: 'Krona One', sans-serif; */
    margin-top: 1%;
    height: 70px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

.nav-bar ul
{
    list-style-type: none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
    display: inline-block;

}

.nav-bar li
{
    float: left;
}

.nav-bar li a
{
    height: 25px;
    width: 100px;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;

    position: relative;
	font-weight: 600;
	text-decoration: none;
	transition: color .3s ease;

}

.nav-bar li a::after
{
    --scale: 0;
    content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 3px;
	background: rgb(49, 96, 161);
	transform: scaleX(var(--scale));
	transform-origin: var(--x) 50%;
	transition: transform .3s cubic-bezier(.535, .05, .355, 1);
}


.nav-bar li a:hover
{
    /* background-color: grey; */
    color: #ef3d59;

}

.nav-bar li a:hover::after
{
    --scale: 1;
}

.dropsurah, .droplearn, .dropgames, .dropstory
{
    display: none;
    position: absolute;
    color: black;
    /* background-color: #f9f9f9; */
    background-color: #f7b400;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-shadow: none;
}

#surah:hover .dropsurah, #learn:hover .droplearn, #games:hover .dropgames, #story:hover .dropstory
{
    border-bottom: none;
    display: block;
    text-shadow: none;
    color: black;
}

/* end navbar css */


.dzikr .firstDzikr
{
  text-align: center;
  width: 100%;
  height: auto;


}

.dzikr .firstDzikr p
{
  float: right;
  clear: both;
  width: 40%;
  text-align: justify;
}

.dzikr .firstDzikr img
{
    width: 500px;
    height: 300;
    float: left;

}

.dzikr .secDzikr
{
  text-align: center;
  width: 100%;
  height: auto;

}

.dzikr .secDzikr ul
{
    float: right;
    clear: both;
    width: 40%;
    text-align: justify;

}

.dzikr .secDzikr img
{
  float: left;
  width: 350px;
  height: 200px;
}


.dzikr .ThirdDzikr
{
  text-align: center;
  width: 100%;
  height: auto;


}
.dzikr .ThirdDzikr p
{
  float: right;
  text-align: justify;
  width: 30%;


}

.dzikr .ThirdDzikr img
{
  float: left;
  width: 450px;
}

.dzikr .FourthDzikr
{
  text-align: center;
  width: 100%;
  height: auto;
}

.dzikr .FourthDzikr img
{
  float: left;
  width: 350px;
}

.dzikr .FourthDzikr p
{
  text-align: justify;
  float: right;
  width: 40%;
  padding-bottom: 5%;

}

.footer
{
    clear: both;
    font-family: arial;
    height: 230px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
