body
{
    margin: 0%;
    font-family: 'Raleway';
    background-image: url("../pic/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slideshow
{
  padding: 70px 5% 2px 5%;

}

.content{
  width: 90% ;
  text-align: justify;
  padding: 70px 5% 50px 15%;
}

.content h3
{
  font-family:'Fredericka the Great';
  text-align: center;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  height: 20px;
  width: 34%;
  padding: 23px;
  height: 300px;
  overflow: scroll;
  font-size: 1.2vw;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.content .row1{
  float: left;
  padding-left: 3%;
}

.content .row2{
  float: right;
  padding-left: 3%;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
.text {font-size: 14px}
}

.footer
{
    clear: both;
    font-family: arial;
    height: 230px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
