body
{
    margin: 0%;
    background: #44a6d7;
}

.solatFardhu{
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  text-align: center;
  -webkit-box-shadow:-2px 1px 18px 6px #a3a4a9 ;
  -moz-box-shadow:-2px 1px 18px 6px #a3a4a9 ;
  box-shadow:-2px 1px 18px 6px #a3a4a9 ;
}

.content-start{
  padding: 30px 10% 50px 10%;
}

.content-start{
  height: 100%;
  width: auto;
  font-family: 'Raleway', sans-serif;
  background: url("../pic/back2.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-start h2{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  color: rgb(110, 83, 67);
  font-size: 2.5vw;
}

.typeSolat{
  text-align: center;
}

.typeSolat img{
  display: inline-block;
  height: auto;
  width: 100%;
}

.background
{
    margin: 0%;
    background: url(../pic/back2.jpg) fixed;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;

}

.prayer{
  clear: both;
  text-align: center;
  font-size: 18px;
}

.prayer #condition #canceled
{
  padding-left: 0px;
}

.collapse
{
  background: url('../pic/polka.jpg');
  background-attachment: fixed;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  color: #000;
  border: #000 2px solid;
  margin: 13px;
}

.active, .collapse:hover
{
  -webkit-box-shadow:0px 0px 45px 18px #ffa310 ;
  -moz-box-shadow:0px 0px 45px 18px #ffa310 ;
  box-shadow:0px 0px 45px 18px #ffa310 ;
}
.collapse:after
{
  condition: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after
{
  condition: "\2212";
}

.condition
{
  background: url('../pic/texture.jpg');
  background-attachment: fixed;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #DCDCDC;
  text-align: center;
  border: 1px solid black;
}

ul
{
    padding-left: 5px;
}

.description{
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  text-align: center;
  -webkit-box-shadow:-2px 1px 18px 6px #a3a4a9 ;
  -moz-box-shadow:-2px 1px 18px 6px #a3a4a9 ;
  box-shadow:-2px 1px 18px 6px #a3a4a9 ;
}

.solatSunat p, .solatSunat h2, .solatSunat h3
{
    width: 60%;
    text-align: center;
    margin-left: 20%;

}

.Muakkad, .GhairMuakkad
{
  width: 35%;
  height: 250px;
  margin: 5%;
  font-size: 18px;
  border: 2px solid #005E57;
  padding: 20px;
  display: inline-block;
}


.footer
{
    clear: both;
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
