
/*content*/

.spaceLeft{
    float: left;
    width: 15%;
    height: 3000px;
    background-color: transparent;

}

.content{
    width: 80%;
    height: 100%;

    font-family: 'Ubuntu', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.6;

}

.content::before
{
    background-image: url("background.jpg");
    opacity: 0.8;
    position: absolute;
}

.content h1 {font-family: 'Fredericka the Great', cursive;color: rgb(110, 83, 67);font-size: 2.5vw;text-align: center;}

.content::before{
    background-image: url("download.png");
    /*image source: https://www.freepik.com/free-photos-vectors/quran*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    content: "";
    display: block;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
    height: 100%;
    z-index: -2;
}

.credit ul{
    font-size: 10px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.spaceRight{
    float: left;
    width: 15%;
    height: 3000px;
    background-color: transparent;
}


/* start footer */
.footer 
{
    font-family: arial;
    height: 190px;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer a
{
    color: white;
    text-decoration: none;
}
/* end footer */
